<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <a routerLink="/home">
            <img src="https://blazed.sirv.com/logo/Beaker-Dark.png?w=50&h=50">
        </a>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a routerLink="/home" routerLinkActive="is-active" class="mr-5 hover:text-gray-900">
            Home
        </a>
        <a routerLink="/solution" routerLinkActive="is-active" class="mr-5 hover:text-gray-900">
            Solution
        </a>
        <a routerLink="/pricing" routerLinkActive="is-active" class="mr-5 hover:text-gray-900">
            Pricing
        </a>
      </nav>
      <app-login></app-login>
    </div>
</header>