<footer class="bg-gray-100 rounded-xl">
    <div class="container m-auto px-6 py-16 space-y-8 text-gray-600 md:px-12 lg:px-20">
        <div class="flex flex-wrap gap-4 items-center justify-between pb-8 border-b">
            <img width="50" height="50" src="https://blazed.sirv.com/logo/BLZ-blue.png?w=50&h=50" alt="logo blz" />
            <div class="flex gap-6">
                <a href="https://github.com/blazed-labs/" target="blank" aria-label="github" class="hover:text-cyan-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                </a>
                <a href="https://twitter.com/BlazedLabs" target="blank" aria-label="twitter" class="hover:text-cyan-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                    </svg>
                </a>
                <a href="https://www.facebook.com/blazedlabs" target="blank" aria-label="medium" class="hover:text-cyan-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32" class="w-5 h-5 fill-current">
                        <path d="M32 16c0-8.839-7.167-16-16-16-8.839 0-16 7.161-16 16 0 7.984 5.849 14.604 13.5 15.803v-11.177h-4.063v-4.625h4.063v-3.527c0-4.009 2.385-6.223 6.041-6.223 1.751 0 3.584 0.312 3.584 0.312v3.937h-2.021c-1.984 0-2.604 1.235-2.604 2.5v3h4.437l-0.713 4.625h-3.724v11.177c7.645-1.199 13.5-7.819 13.5-15.803z"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-6 sm:grid-cols-4">
            <div>
                <h6 class="text-lg font-medium text-cyan-900">
                    Company
                </h6>
                <ul class="list-inside mt-4 space-y-4">
                    <li>
                        <a href="https://blazedlabs.com/" class="hover:text-cyan-600 transition">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="https://www.blazedlabs.com/about/" class="hover:text-cyan-600 transition">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="https://www.blazedlabs.com/post/" class="hover:text-cyan-600 transition">
                            Blog
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="text-lg font-medium text-cyan-900">
                    Services
                </h6>
                <ul class="list-inside mt-4 space-y-4">
                    <li>
                        <a href="https://blazed.tel/" class="hover:text-cyan-600 transition">
                            Telecommunications
                        </a>
                    </li>
                    <li>
                        <a href="https://blazed.xyz/" class="hover:text-cyan-600 transition">
                            Publishing
                        </a>
                    </li>
                    <li>
                        <a href="https://blazed.city/" class="hover:text-cyan-600 transition">
                            Development
                        </a>
                    </li>
                    <li>
                        <a href="https://www.blz.one/services" class="hover:text-cyan-600 transition">
                            All Services
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="text-lg font-medium text-cyan-900">
                    Products
                </h6>
                <ul class="list-inside mt-4 space-y-4">
                    <li>
                        <a href="https://blazed.games/" class="hover:text-cyan-600 transition">
                            Concrete Games
                        </a>
                    </li>
                    <li>
                        <a href="https://blazed.space/" class="hover:text-cyan-600 transition">
                            Blazed Space
                        </a>
                    </li>
                    <li>
                        <a href="https://blazed.watch/" class="hover:text-cyan-600 transition">
                            Blazed Watch
                        </a>
                    </li>
                    <li>
                        <a href="https://www.blz.one/products" class="hover:text-cyan-600 transition">
                            All Products
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="text-lg font-medium text-cyan-900">
                    Resources
                </h6>
                <ul class="list-inside mt-4 space-y-4">
                    <li>
                        <a href="https://blazed.quest/" class="hover:text-cyan-600 transition">
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="https://blazed.contact/" class="hover:text-cyan-600 transition">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex justify-between px-4 py-3 rounded-md bg-gray-200 text-gray-600">
            <span>
                &copy;<span id="year">2022</span> Blazed Labs LLC
            </span>
            <a href="https://www.blazedlabs.com/privacy/" class="font-medium transition hover:text-cyan-600">
                Privacy
            </a>
        </div>
    </div>
</footer>