<section class="py-6 text-gray-900">
	<div class="grid max-w-6xl grid-cols-1 mx-auto lg:px-8 md:grid-cols-2 md:divide-x">
		<div class="py-6 md:py-0 md:px-6">
			<h1 class="text-4xl font-bold">
                Get Support
            </h1>
			<p class="pt-2 pb-4">
                Contact us for support inquiry.
            </p>
			<div class="space-y-4">
				<p class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
						<path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
					</svg>
                    <a href="tel:+18557882348">
                        <span>
                            +1 (855) 788-2348
                        </span>
                    </a>
				</p>
				<p class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
						<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
						<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
					</svg>
                    <a href="mailto:support@blazed.systems">
                        <span>
                            support@blazed.systems
                        </span>
                    </a>
				</p>
			</div>
		</div>
		<form novalidate="" class="flex flex-col py-6 space-y-6 md:py-0 md:px-6 ng-untouched ng-pristine ng-valid">
			<label class="block">
				<span class="mb-1">
                    Full name:
                </span>
				<input type="text" placeholder="John Smith" class="block w-full rounded-md shadow-sm outline-none focus:ring focus:ring-opacity-75 focus:ring-blue-600 bg-gray-100 p-3">
			</label>
			<label class="block">
				<span class="mb-1">
                    Email address:
                </span>
				<input type="email" placeholder="email@example.com" class="block w-full rounded-md outline-none shadow-sm focus:ring focus:ring-opacity-75 focus:ring-blue-600 bg-gray-100 p-3">
			</label>
			<label class="block">
				<span class="mb-1">
                    Message:
                </span>
				<textarea rows="3" class="block w-full rounded-md outline-none focus:ring focus:ring-opacity-75 focus:ring-blue-600 bg-gray-100 p-3"></textarea>
			</label>
			<input type="submit" class="self-center px-8 py-3 text-lg rounded focus:ring bg-blue-600 text-gray-50 hover:bg-blue-800 p-3" value="Submit"/>
		</form>
	</div>
</section>