<article class="grid max-w-screen-xl grid-cols-1 gap-8 px-8 py-20 mx-auto rounded-lg md:grid-cols-2 md:px-12 lg:px-16 xl:px-32 text-gray-800">
	<div class="flex flex-col justify-between pt-10">
		<div class="space-y-2">
			<h2 class="text-4xl font-bold leading-tight lg:text-5xl">
                Having trouble?
            </h2>
			<div class="text-gray-600 pt-5">
                We're here to help! Simply fill out the form, and a support representative will be in contact.
            </div>
		</div>
	</div>
	<form method="post" action="https://api.staticforms.xyz/submit" class="space-y-6 ng-untouched ng-pristine ng-valid pt-10">
		<div>
			<label for="name" class="text-sm">Full name</label>
			<input id="name" required type="text" name="name" placeholder="" class="bg-white border mt-2 w-full p-3 rounded bg-gray-100">
		</div>
		<div>
			<label for="email" class="text-sm">Email</label>
			<input id="email" required type="email" name="_replyto" class="bg-white border mt-2 w-full p-3 rounded bg-gray-100">
		</div>
		<div>
			<label for="message" class="text-sm">Message</label>
			<textarea id="message" required rows="3" name="message" class="bg-white border mt-2 w-full p-3 rounded bg-gray-100"></textarea>
		</div>
		<div>
			<input type="text" name="honeypot" style="display:none">
			<input type="hidden" name="accessKey" value="ae7d37b2-fcad-42f6-a26f-d9d805abfb04">
			<input type="hidden" name="subject" value="New Support Ticket from Blazed Systems" />
			<input type="hidden" name="replyTo" value="@">
			<input type="hidden" name="redirectTo" value="https://blazed.systems/success">
		</div>
		<button type="submit" class="w-full p-3 text-sm font-bold tracking-wide uppercase rounded bg-blue-600 text-gray-50">Send Message</button>
	</form>
</article>