.footer:first-child{
    border-top: 3px solid rgba(120,0,120,0.7);
}
@media only screen and (max-width: 768px){
    .footer-block-inner{
        margin-top:0;
    }
    .footer-links{
        display:none;
    }
}
@media only screen and (max-width: 280px){
    .footer-block{
        padding-left:0;
        padding-right:0;
    }
}

.ab-bottom{
    border-top: 3px solid rgba(0,0,0,0.2);
}