<div class="px-4 py-3 text-gray-100 top-bar">
    <div class="text-sm font-medium text-center">
      The <b>Blazed Systems</b> service is offered by <a class="hover:underline" href="https://blazed.company/" target="_blank">Blazed Labs LLC</a>.
    </div>
  </div>
  <div class="header text-gray-600 body-font">
    <nav class="grid grid-cols-2 header-nav">
      <div class="col-start-1">
        <a routerLink="/home" title="{{ app.title }}" class="flex hover:opacity-75 title-font font-medium items-center text-gray-900 mb-4 ml-20 md:mt-8 md:mb-0 header-logo">
          <img src="{{ site.logo }}?w=50&h=50">
        </a>
      </div>
      <div class="header-nav-links col-start-4 md:mt-7 md:mb-5 md:mr-20">
        <app-nav></app-nav>
      </div>
    </nav>
    <nav class="header-nav-mobile pt-5 bg-gray-200 grid grid-cols-2 w-full">
        <div class="header-nav-burge py-5 mt-2 w-half relative mx-auto">
          <a routerLink="/home">
            <img class="w-50 h-50" src="https://blazed.sirv.com/logo/Beaker-Dark.png?w=50&h=50">
          </a>
        </div>
        <div class="text-center py-5 mt-1">
          <button class="mx-auto" (click)="burgerVisible=!burgerVisible">
            <ng-container *ngIf="burgerVisible">
              <svg width="60" height="60" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.646 5.646a.5.5 0 000 .708l8 8a.5.5 0 00.708-.708l-8-8a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M14.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
              </svg>
            </ng-container>
            <ng-container *ngIf="!burgerVisible">
              <svg width="60" height="60" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.5 13.5A.5.5 0 015 13h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 9h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 5h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
              </svg>
            </ng-container>
          </button>
        </div>
      <ng-container *ngIf="burgerVisible">
        <div class="col-start-1 col-end-7 header-nav-links-mobile bg-gray-200 absolute top-40 w-full h-screen pt-10">
          <app-nav></app-nav>
        </div>
      </ng-container>
    </nav>
  </div>