
<link rel="me" href="mailto:hello@blazed.space">
<link rel="me" href="sms:+8557882348">
<link rel="icon" sizes="192x192" href="https://blazed.sirv.com/logo/Beaker-Cobalt.png?h=192&w=192">
<link rel="apple-touch-icon" href="https://blazed.sirv.com/logo/Beaker-Cobalt.png?h=192&w=192">

<meta property="fb:app_id" content="503698127531557">
<meta property="og:image" content="https://blazed.sirv.com/logo/Lockscreen-Beaker.png?h=400&w=400">
<meta property="og:image:alt" content="Blazed Beaker Wallpaper">
<meta property="og:site_name" content="Blazed Systems">
<meta property="og:description" content="Systems Administration">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="Blazed Labs">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@BlazedLabs">
<meta name="twitter:creator" content="@BlazedLabs">
<meta name="twitter:title" content="Systems Administration">
<meta name="twitter:description" content="Content description less than 200 characters">
<meta name="twitter:image" content="https://blazed.sirv.com/logo/Lockscreen-Beaker.png?h=200&w=200">
<meta name="twitter:image:alt" content="Blazed Beaker Wallpaper">