.is-active{
    text-decoration: underline;
}

a{
    padding-left:10px;
    padding-right:10px;
}

@media only screen and (max-width: 766px){
    a{
        display:block;
        text-align: center;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:20px;
        padding-right:20px;
    }
}