<ul class="space-y-6 pb-6 tracking-wide font-medium text-gray-600 lg:pb-0 lg:pr-6 lg:items-center lg:flex lg:space-y-0">
    <li>
        <a routerLink="/home" routerLinkActive="is-active" class="block md:px-3">
            <span>
                Home
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/about" routerLinkActive="is-active" class="block md:px-3">
            <span>
                About
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/solutions" routerLinkActive="is-active" class="block md:px-3">
            <span>
                Solutions
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/support" routerLinkActive="is-active" class="block md:px-3">
            <span>
                Support
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/contact" routerLinkActive="is-active" class="block md:px-3">
            <span>
                Contact
            </span>
        </a>
    </li>
</ul>
