.is-active{
    text-decoration:underline;
}
@media only screen and (max-width: 1023px){
    ul{
        text-align:center;
        margin-top:5px;
    }
    ul li a{
        padding-top:10px;
        padding-bottom:10px;
    }
}