<div class="relative flex flex-col-reverse py-16 lg:pt-0 lg:flex-col lg:pb-0">
    <div class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl px-4 mx-auto md:px-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0">
      <svg class="absolute left-0 hidden h-full text-white transform -translate-x-1/2 lg:block" viewBox="0 0 100 100" fill="currentColor" preserveAspectRatio="none slice">
        <path d="M50 0H100L50 100H0L50 0Z"></path>
      </svg>
      <img
        class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
        src="https://blazed.sirv.com/logo/Wallpaper-Beaker.png?h=750&w=1260"
        alt=""
      />
    </div>
    <div class="relative flex flex-col items-start w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl">
      <div class="lg:my-40 lg:max-w-lg lg:pr-5">
        <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
          Blazed Systems
        </p>
        <h2 class="mb-5 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
          Turn Your<br class="hidden md:block" />
          <span class="inline-block underline decoration-purple-700">Dreams</span> into
          <span class="inline-block text-purple-700">Reality</span>.
        </h2>
        <p class="px-3 mb-5 text-base text-gray-700 md:text-lg">
          Secure, performant, and reliable systems infrastructure managed for you.
          Don't settle for <i>less</i>, get the <b>best</b>.
        </p>
        <div class="flex items-center">
          <a href="/about" aria-label="" class="group inline-flex items-center font-semibold p-3 px-5 ml-3 border rounded-xl text-lg hover:bg-purple-700 text-gray-800 mb-5">
            <i class="inline-flex text-gray-800 group-hover:text-white">
                <svg class="w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                   <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7 0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208S370.7 464 256 464zM256 336c-18 0-32 14-32 32s13.1 32 32 32c17.1 0 32-14 32-32S273.1 336 256 336zM289.1 128h-51.1C199 128 168 159 168 198c0 13 11 24 24 24s24-11 24-24C216 186 225.1 176 237.1 176h51.1C301.1 176 312 186 312 198c0 8-4 14.1-11 18.1L244 251C236 256 232 264 232 272V288c0 13 11 24 24 24S280 301 280 288V286l45.1-28c21-13 34-36 34-60C360 159 329 128 289.1 128z"/>
                </svg>
            </i>
            <span class="group-hover:text-white">
                Learn more
            </span>
          </a>
          <a href="/solutions" aria-label="" class="group inline-flex items-center font-semibold p-3 pl-5 hover:underline text-lg text-gray-800 mb-5">
            <i class="inline-flex text-gray-800 group-hover:text-gray-600">
                <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 384 512">
                   <path d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2l0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4l0 0c19.8 27.1 39.7 54.4 49.2 86.2H272zM192 512c44.2 0 80-35.8 80-80V416H112v16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"/>
                </svg>
            </i>
            <span class="group-hover:text-gray-600">
                Solutions
            </span>
          </a>
        </div>
      </div>
    </div>
</div>