<span *ngFor="let item of this.site.nav">
    <span *ngIf="item.link !== undefined">
        <a routerLink="{{ item.link}}" 
            routerLinkActive="is-active"
            class="inline-flex hover:text-gray-900 font-bold md:font-normal">
            {{ item.text }}
        </a>
    </span>
    <span *ngIf="item.href !== undefined">
        <a href="{{ item.href}}" 
            routerLinkActive="is-active"
            class="inline-flex hover:text-gray-900 font-bold md:font-normal">
            {{ item.text }}
        </a>
    </span>
</span>