<div class="py-6 bg-white text-gray-900 mt-10 border-t">
    <div class="container mx-auto flex flex-col items-center justify-center p-4 space-y-8 md:p-10 lg:space-y-0 lg:flex-row lg:justify-between">
        <h1 class="text-3xl font-semibold leading-tight text-center lg:text-left">
            Ready to get started?
        </h1>
        <a href="/contact" class="px-5 py-2 text-lg font-semibold rounded-md transition-colors duration-200 transform bg-purple-700 hover:bg-purple-900 active:bg-purple-600 text-gray-50">
            Inquire
        </a>
    </div>
</div>