/* Import TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Blazed Labs Styles */

html, body{
    max-width: 100%;
    overflow-x: hidden;
} 

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*
    Prevent blinking cursor. Since the ::all selector is so slow,
    we define all HTML elements that are cross-browser supported.
*/
div, table, button, a, i, span, body, html,
section, article, p, svg, h1, h2, h3, h4, h5, var,
h6, hr, br, thead, tr, th, td, footer, main, header,
aside, b, strong, blockquote, code, cite, col, colgroup,
input[type=submit], input[type=radio], input[type=checkbox],
input[type=color], input[type=date], input[type=file],
input[type=hidden], input[type=image], input[type=reset],
input[type=button], input[type=range], form, dl, dt, dd,
iframe, label, legend, ul, li, img, caption, dfn, em, tfoot,
fieldset, nav, ol, option, pre, select, sup, sub, tbody {
    caret-color: rgba(0,0,0,0);
}

/*
    Define cursor blinking color for text-based input types
*/
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=tel]:focus, input[type=text]:focus, input[type=number]:focus,
input[type=search]:focus, input[type=url]:focus, textarea:focus {
    caret-color: rgba(0,0,0,1);
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Scrollbar */
body::-webkit-scrollbar{
    width:10px;
}
body::-webkit-scrollbar-track{
    background:#727a8a;
}
body::-webkit-scrollbar-thumb{
    background-color:#afb4bd;
    border-radius:20px;
    border:1px solid #5b626e
}
body::-webkit-scrollbar-thumb:hover{
    background-color:#5b626e;
}

::selection{
    background: #000;
    color: #fff;
}

::-moz-selection{
    background: #000;
    color: #fff;
}